html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    width: 100%;
    height: 5%;
}

#map-canvas {
    height: 95%;
    width: 100%;
    float: left;
    position: relative;
}
input{
    display: block;
    width: 20%;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px auto;
    z-index: 999;
    text-align: center;
    font-size: 1.6em;
    border: 5px solid gray;
    background-color: lightgray;
}


#infoWindow{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
img{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 2px;
    border: 10px solid white;
}
h1{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 150%;
}
p{
    width: 90%;
    font-size: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    word-wrap: break-word;
}
#foundPlaces{
    width: 15%;
    position: absolute;
    height: 95%;
    background-color: white;
    opacity: 0;
    z-index: 999;
    font-family: sans-serif;
}
.search{
    width: 98%;
    padding: 2%;
    text-align: center;
    font-size: 1em;
    margin: 1px auto 0;
}
.search:hover{
    font-weight: bold;
}